<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <%- include('./partials/head') %>
        <title>BattleMap - 404</title>
    </head>
    <body>
        <%- include("./partials/navbar.ejs") %>
        <main class="wrap">
            <h1>Terra Incognita</h1>
            <p><b>404</b> This page doesn't exist.</p>
            <p>We have dispatched a group of highly trained cartogropher monkeys to resolve the issue</p>
            <p><a href="/">Return home</a>, traveller</p>
            <img src="/images/monke.png">
        </main>
    </body>
</html>