<h3>Arrgh 'twould appær thar's a problem</h3>
<p><i>War</i> shyppe is not so stable on these waters.</p>
<hr>
<p>Server error (our fault). Description of error:</p>
<p><%= message %></p>
<hr>
<p><a href="/">go home</a></p>