<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <%- include('./partials/head') %>
        <title>BattleMap</title>
        <link rel="stylesheet" href="/styles/home.css">
    </head>
    <body>
        <video class="home-background" src="/videos/globe.mp4" autoplay muted loop></video>
        <section class="home-intro">
            <div class="home-intro-content">
                <video class="home-logo" src="/videos/logo-anim.mp4" autoplay></video>
                <p>Mapping Europe's Greatest Battles</p>
                <div class="button-holder">
                    <a class="button" href="/map">Explore the map</a>
                </div>
            </div>
        </section>
    </body>
</html>