.home-background {
	animation: expand-circle 1s ease-in-out forwards;
	clip-path: circle(30% at -10% -10%);
	object-fit: cover;
	position: absolute;
	width: 100vw;
	height: 100%;
	z-index: -1;
}

.home-background:before {
	background-image: radial-gradient(transparent, #000);
	content: '';
	height: 100%;
	opacity: 0.8;
	position: absolute;
	width: 100%;
}

body {
	background: black;
	overflow: hidden;
}

.home-intro {
	animation: fade-in 0.3s ease-in forwards;
	animation-delay: 1s;
	width: 50vw;
	float: right;
	height: 100vh;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 10%;
}

.home-intro-content {
	line-height: 1.6;
	text-align: center;
}

.button-holder {
	margin-top: 3rem;
}

@keyframes expand-circle {
	from {
		clip-path: circle(30% at -10% -10%);
	}

	to {
		clip-path: circle(75% at -8% 25%);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		pointer-events: none;
	}

	to {
		opacity: 1;
		pointer-events: all;
	}
}
