doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		include includes/styles.pug
		title BattleMap - 404
	body
	<main class="wrap">
		h1 Terra Incognita
		p
			b 404
			| This page doesn't exist
		p We have dispatched a group of highly trained cartogropher monkeys to resolve the issue
		p
			a(href="/") Return home
			|, traveller
		img(src="/images/monke.png")