doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title BattleMap - About
		include includes/styles.pug
		link(rel="stylesheet", href="/styles/about.css")
	body
			include includes/navbar.pug
			main.about
				h1 About Us
				p We are Battle Map, an interactive map displaying historical battles across Europe.
				h2 How Does BattleMap Work?
				p You can search either by place or battle name. You can also sign up and login to an account and leave comments on others accounts.

				h2 In order to search via place name:
				section
					p Click the tab to search via place name and then enter the name of the place you want to search. You can also specify the radius size as to which battles will appear in.
					img(src="/images/about/about-1.png" alt="Search Place Screenshot")
					img(src="/images/about/about-2.png" alt="Search Place Results screenshot")
					p BattleMap will then show the area searched for, along with pins showing where each battle took place
					p You can then click on a pin to be shown an article about that battle
					img(src="/images/about/about-3.png" alt="Pin clicked screenshot")

				h2 In order to search via battle name:
				section
					img(src="/images/about/about-4.png" alt="Search Battle Screenshot")
					p Click the tab to search via battle name and then enter the name of the battle you want to search.
						br
						br
						| Like before, you can click on the pin to be shown the article about the selected battle
					p Battlemap will then show a pin of the battle that you searched for.
					img(src="/images/about/about-5.png" alt="Search battle results screenshot")

				h2 Missing battles?
				section
					p If you've found a missing battle, log into your account and access the form
						a(href="/missed-battle") here
						| or click "missing battles" to submit an addition.
					img(src="images/about/about-6.png" alt="Missing battles form screenshot")

				aside
					h2 Features
					ul
						li Interactive Map
						li User Profiles, can create an account to save battles and comment on other users
						li Map grabs articles of the selected battle from wikipedia
					h2 Disclaimer
					p The battles on our database are sourced from Wikipedia. We have only selected battles which have been cited and verified. Furthermore we list Irish battles from 16th Century onwards, due to a considerable scarcity of citations for the battles 15c. and before.