doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title BattleMap
		include includes/styles.pug
		link(rel="stylesheet" href="/styles/home.css")
	body
		video.home-background(src="/videos/globe.mp4" autoplay muted loop)
		section.home-intro
				div.home-intro-content
						video.home-logo(src="/videos/logo-anim.mp4" autoplay)
						p Mapping Europe's Greatest Battles
						div.button-holder
								a.button(href="/map") Explore the map